@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none; }
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;

}

#notification {
    position: fixed;
    /*top: 50%;*/
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 100%;
}



